<?xml version="1.0"?>
<!-- For visualization of tello -->

<launch>
    <arg name="open_rviz" default="true"/>

    <include file="$(find tello_sim)/launch/tello_visualizer_single.launch">
        <arg name="namespace" value="tello1"/>
        <arg name="open_rviz" value="false"/>
    </include>

    <include file="$(find tello_sim)/launch/tello_visualizer_single.launch">
        <arg name="namespace" value="tello2"/>
        <arg name="open_rviz" value="false"/>
    </include>

    <include file="$(find tello_sim)/launch/tello_visualizer_single.launch">
        <arg name="namespace" value="tello3"/>
        <arg name="open_rviz" value="false"/>
    </include>

    <include file="$(find tello_sim)/launch/tello_visualizer_single.launch">
        <arg name="namespace" value="tello4"/>
        <arg name="open_rviz" value="false"/>
    </include>

    <include file="$(find tello_sim)/launch/tello_visualizer_single.launch">
        <arg name="namespace" value="tello5"/>
        <arg name="open_rviz" value="false"/>
    </include>

    <include file="$(find tello_sim)/launch/tello_visualizer_single.launch">
        <arg name="namespace" value="tello6"/>
        <arg name="open_rviz" value="false"/>
    </include>

    <include file="$(find tello_sim)/launch/tello_visualizer_single.launch">
        <arg name="namespace" value="tello7"/>
        <arg name="open_rviz" value="false"/>
    </include>

    <include file="$(find tello_sim)/launch/tello_visualizer_single.launch">
        <arg name="namespace" value="tello8"/>
        <arg name="open_rviz" value="false"/>
    </include>

    <include file="$(find tello_sim)/launch/tello_visualizer_single.launch">
        <arg name="namespace" value="tello9"/>
        <arg name="open_rviz" value="false"/>
    </include>

    <include file="$(find tello_sim)/launch/tello_visualizer_single.launch">
        <arg name="namespace" value="tello10"/>
        <arg name="open_rviz" value="false"/>
    </include>
    
    <group if="$(arg open_rviz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tello_sim)/launch/multi_tello.rviz" required="false" />
    </group>


</launch>
