<?xml version="1.0"?>

<launch>
	<!-- vim: set ft=xml noet : -->
	<!-- base node launch file-->

	<arg name="mavros_sim_plugin_config_yaml" default="$(find sss_sim_agent)/src/mavros_quadrotor_sim/mavros_sim/launch/px4_config.yaml"/>

	<node pkg="sss_sim_agent" type="mavros_quadrotor_sim" name="mavros_quadrotor_sim"  output="screen">
		<!-- load plugin config -->
		<rosparam command="load" file="$(arg mavros_sim_plugin_config_yaml)" />
	</node>
</launch>
