<?xml version="1.0"?>
<launch>
    
    <arg name="max_speed_ratio" default="100"/>
    <arg name="auto_start" default="true"/>
    <arg name="use_sim_time" default="true"/>

    <param name="/use_sim_time" value="$(arg use_sim_time)"/>

    <node pkg="nodelet" type="nodelet" name="nodelet_manager"  args="manager" output="screen">
    </node>

    <node pkg="nodelet" type="nodelet" name="sim_clock_nodelet" args="load sss_sim_env/sim_clock_nodelet /nodelet_manager" output="screen">
        <param name="max_speed_ratio" type="double" value="$(arg max_speed_ratio)"/>
        <param name="auto_start"  type="bool"  value="$(arg auto_start)"/>
    </node>

</launch>