<?xml version="1.0"?>
<launch>
    
    <arg name="max_speed_ratio" default="100"/>
    <arg name="auto_start" default="true"/>
    <arg name="open_ui" default="true"/>

    <arg name="use_sim_time" value="true"/>

    <param name="/use_sim_time" value="$(arg use_sim_time)"/>
    <param name="/use_sss_sim_time" value="$(arg use_sim_time)"/>

    <node pkg="nodelet" type="nodelet" name="nodelet_manager"  args="manager" output="screen">
    </node>

    <node pkg="nodelet" type="nodelet" name="sim_clock_nodelet" args="load sss_sim_env/sim_clock_nodelet /nodelet_manager" output="screen">
        <param name="max_speed_ratio" type="double" value="$(arg max_speed_ratio)"/>
        <param name="auto_start"  type="bool"  value="$(arg auto_start)"/>
    </node>

    <group if="$(arg open_ui)">
        <node name="sim_clock_ui" pkg="sss_sim_env" type="clock_ui.py" args="$(arg max_speed_ratio)"  output="screen" required="false" />
    </group>

</launch>